.sub {
  width: 80%;
  padding: 25px;
}

.grid-3{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: auto;
  text-align: center;
  grid-gap: 10px;
}

.grid-2{
  display: grid;
  grid-template-columns: 20% 80%;
  margin-left: 10px;
  grid-gap: 10px;
}
